@font-face {
  font-family: fedroka;
  src: url(./assets/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.home{
  display: flex;
}
.mainPage{
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mainPage > div > h1{
  font-family: Fredoka;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.mainPage > div >h2{

  font-size: 10vh;
  margin: 0;
}
.fiveDaysContainer{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  width: 50vw;
  height: 90vh;
  gap: 10px;
}
.singleContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.singleContainer > p{
  font-size: 12px;
}