@font-face {
  font-family: fedroka;
  src: url(./assets/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
}
main{
  display: flex;
}
.home{
  display: flex;
}
.mainPage{
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mainPage > div > h1{
  font-family: Fredoka;
  font-size: 20vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.mainPage > div >h2{
  font-size: 10vh;
  margin: 0;
}
.fiveDaysContainer{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  width: 50vw;
  height: 90vh;
  gap: 10px;
}
.singleContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.singleContainer > p{
  font-size: 12px;
}
.temp-cold{
  background: -moz-linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(10,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(10,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(10,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.temp-hot{
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,238,26,1) 28%, rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,238,26,1) 28%, rgba(255,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,238,26,1) 28%, rgba(255,0,0,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ff0000",GradientType=1);
}
.temp-mild{

  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,131,172,1) 10%, rgba(255,225,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,131,172,1) 10%, rgba(255,225,0,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,131,172,1) 10%, rgba(255,225,0,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffe100",GradientType=1);
}
.temp-chill{
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,152,223,1) 17%, rgba(150,176,242,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,152,223,1) 17%, rgba(150,176,242,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,152,223,1) 17%, rgba(150,176,242,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#96b0f2",GradientType=1);
}
.temp-default{
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(234,5,106,1) 17%, rgba(150,176,242,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(234,5,106,1) 17%, rgba(150,176,242,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(234,5,106,1) 17%, rgba(150,176,242,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#96b0f2",GradientType=1);
}