@font-face {
  font-family: fedroka;
  src: url(./assets/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}
nav{
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(240, 236, 236, 0.674);
}
.navLink{
  text-decoration: none;
  color: black;
  font-size: clamp(30px, 1vw, 1.5vw);
}
.navLink:hover{
  background-color: black;
  color: whitesmoke;
}
.mainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 90vh;
}
.mainPage > h1,
.mainPage > h2{
  color: rgb(6, 6, 6);
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}
.mainPage > h1{
  font-family: fedroka;
  font-size: clamp(10vw, 30vw, 40vw);
}
.main-image{
  position: absolute;
  height: 90vh;
  width: 100%;
  opacity: 80%;
}
.forecast{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.forecastImg{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 70%;
}
.forecastTitle{
  font-size: 15vw;
  z-index: 1;
  margin: 0;
}

.fiveDaysContainer{
  height: 30vh;
  width: 70vw;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  z-index: 1;
}
.singleContainer{
  border-right: 1px solid rgb(255, 255, 255);
  background-color: rgba(240, 248, 255, 0.216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 100;
}
.singleContainer > p{
  font-size: clamp(20px, 1vw, 1vw);
}
.selectContainer{
  position: fixed;
  left: 50%;
  top: 6%;
  z-index: 2;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 236, 236, 0.674);
}
select{
  border: none;
  color: black;
  font-size: clamp(30px, 1vw, 1vw);
  background-color: rgba(240, 236, 236, 0.674);
  margin-top: 5px;
}
select:hover{
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}